[Unit]
Description=Restic Backup Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/backup.sh
User=mn
Environment="RESTIC_PASSWORD=aa"
Environment="RESTIC_REPOSITORY=sftp:mn@192.168.56.101:/home/mn/restic-repository"
